---
import FormattedDate from "./FormattedDate.astro";
import { getEntry, render } from "astro:content";
import type { HTMLTag } from "astro/types";

interface Props {
	element: HTMLTag;
	id: string;
}

const { element = "article", id } = Astro.props;
const post = await getEntry("post", id);

if (!post) {
	throw new Error(`Unable to find post:${id}`);
}

const { title, date, slug } = post.data;
const rendered = await render(post);
const { Content } = rendered;

const Element = element;
---

<Element class="h-entry" data-post-id={id} {...Astro.props}>
	{
		title && (
			<header>
				<h2 class="p-name" set:html={title} />
			</header>
		)
	}

  <div class="content">
    <Content />
  </div>

	<footer>
		<p>
			<a class="u-url" rel="permalink" href={`/${slug}/`}>
				<FormattedDate {date} />
			</a>
		</p>
		<slot name="footer" />
	</footer>
</Element>
